@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.garamond-text {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    margin: 20vh 10vw;
    text-align: center;
}

#centtrial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#centtrial-container p {
    font-size: 3em;
    margin: 0;
}
